body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffcfc;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f3f5ee;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: rgb(4, 3, 3);
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

#tribute-section {
    padding: 100px;
}

#image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

#tribute-info {
    margin-top: 20px;
}

#tribute-quotes {
    margin-top: 20px;
}

blockquote {
    margin: 0 0 20px;
    background-color: #aa8aca;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
